# Copier en .env et ajuster

# Backend Render (testé en premier au démarrage du front)
VITE_API_URL_WEB=https://votre-service.onrender.com

# Fallback localhost
VITE_API_URL_LOCAL=http://127.0.0.1:8000
